/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
    --footer-bg: black;
    --footer-text-color: #fff;
    --header-bg: #fff;
    --body-bg: #f1f1f1;
    --text-color: #555;
}


* {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg);
}

header {
    background-color: var(--header-bg);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
header ul li {
    list-style: none;
    color: var(--text-color);
}

/* All Books */
.books {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* For Each Book */
.oneBook-card {
    width: 60%;
    height: auto;
    display: inline;
    background-color: var(--header-bg);
    position: relative;
    display: flex;
    border: 1px solid var(--footer-bg);
}
.oneBook-card .display-book {
    display: flex;
    gap: 18px;
}
.onebook-information {

}
.buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    
}

/* A Book Details */
.book-details {
    width: 60%;
    margin: 40px auto;
    height: 100vh;
}

/* The Form */
.create-book {
    margin: 30px;
    min-height: 100vh;
}
form {
    
    width: 300px;
    height: auto;
    background: var(--header-bg);
    border: 1px solid var(--text-color);
    border-radius: 15px;
    padding: 15px 25px;
    margin: auto;
}

input, select, textarea {
    width: 100%;
    display: block;
}

.footer  {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    text-align: center;
}

